
	<div class="top-page-wrapper">
		<div class="button-container">
			<img src="/img/twitterlogo.png" alt="" width="200px"><br>


			<%# <form action="/new" method="get">
			<input type="button" value="さがす" class="btn">
			</form>
			<form action="/find" method="get">
			<input type="button" value="とうこう" class="btn">
			</form> %>

			<a href="/new" class="btn">とうこう</a>
			<a href="/find" class="btn">さがす</a>

		</div>
	</div>
