<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="utf-8">
  <title>Pranzo</title>
  <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG1iiA_x3dpWbnSla7RJu5fcrXJsSyjYs"></script>

</head>
<body>

<%= yield %>
</body>
</html>