<link rel="stylesheet" href="/css/form.css">
<script src="/js/script.js"></script>
<body class="postBackground">
<%# <div class="postBackground"> %>
<div class="postingNotBack">
    <h1 style="letter-spacing:5px;">Share Your Favorites.</h1>
    <form class="postingform" action="/new" method="post" enctype="multipart/form-data">
      <input class="formdesign" type="text" name="restaurants" placeholder="店名を入力"><br>
      <input type="file" name="file"><br>
      <select name="genre">
          <option value="選択されていません"">選択してください</option>
          <option value="定食">定食</option>
          <option value="ラーメン">ラーメン</option>
          <option value="その他和食">その他和食</option>
          <option value="イタリアン">イタリアン</option>
          <option value="フレンチ">フレンチ</option>
          <option value="ファストフード">ファストフード</option>
          <option value="カフェ">カフェ</option>
          <option value="スーパー">スーパー</option>
          <option value="その他"">その他</option>
      </select><br>
      <select name="camp" class="camp-place-selector">
  <option value="選択されていません">選択してください。</option>
  <option value="関東エリア">ーー関東エリアーー</option>
  <option value="東京大学浅野キャンパス">東京大学浅野キャンパス</option>
  <option value="慶應義塾大学SFC">慶應義塾大学SFC</option>
  <option value="早稲田大学">早稲田大学</option>
  <option value="学習院大学">学習院大学</option>
  <option value="横浜国立大学">横浜国立大学</option>
  <option value="成蹊大学">成蹊大学</option>
  <option value="デジタルハリウッド大学">デジタルハリウッド大学</option>
  <option value="東京都市大学">東京都市大学</option>
  <option value="関西エリア">ーー関西エリアーー</option>
  <option value="関西大学">関西大学</option>
  <option value="立命館大学">立命館大学</option>
  <option value="中部エリア">ーー中部エリアーー</option>
  <option value="名城大学">名城大学</option>
  <option value="信州大学">信州大学</option>
  <option value="北海道・東北エリア">ーー北海道・東北エリアーー</option>
  <option value="北海道大学">北海道大学</option>
  <option value="東北大学">東北大学</option>
  <option value="九州エリア">ーー九州エリアーー</option>
  <option value="九州大学">九州大学</option>
</select><br>
      <input  class="formdesign" type="text" name="mentor" placeholder="メンター名"><br>
      <input class="formdesign" type="text" id="address" name="address" placeholder="住所を入力"><br>
      <select name="rate">
          <option value="nostaryet">選択してください</option>
          <option value="1">★</option>
          <option value="2">★★</option>
          <option value="3">★★★</option>
          <option value="4">★★★★</option>
          <option value="5">★★★★★</option>
      </select><br>
      <input class="formdesign" type="textarea"  rows="40" cols="3" name="review" placeholder="口コミを記入（任意）" ><br>
      <input type="submit" class="formSubmit" value="Submit" onclick="codeAddress();"><br>
      <a href="/" class="toTop" style="text-decoration:none; color:#fff;">Topへ戻る</a>
    </form>

    <%# </div> %>
    </div>
</body>