<link rel="stylesheet" href="/css/form.css">

<div class="postBackground">

    <form action="/new" method="post" enctype="multipart/form-data">
      <input class="formdesign" type="text" name="restaurant" placeholder="店名を入力"><br>
      <input type="file" name="file"><br>
      <select name=”genre”>
          <option value=”nogenreyet”>選択してください</option>
          <option value=”teishoku”>定食</option>
          <option value=”ramen”>ラーメン</option>
          <option value=”washoku”>その他和食</option>
          <option value=”italian”>イタリアン</option>
          <option value=”french”>フレンチ</option>
          <option value=”fastfood”>ファストフード</option>
          <option value=”cafe”>カフェ</option>
          <option value=”supermarket”>スーパー</option>
          <option value=”others”>その他</option>
      </select><br>
      <input  class="formdesign" type="text" name="mentor" placeholder="メンター名"><br>
      <input class="formdesign" type="text" name="adress" placeholder="Google MapのURL"><br>
      <select name="rate">
          <option value="nostaryet">選択してください</option>
          <option value="1">★</option>
          <option value="2">★★</option>
          <option value="3">★★★</option>
          <option value="4">★★★★</option>
          <option value="5">★★★★★</option>
      </select><br>
      <input class="formdesign" type="textarea"  rows="4" cols="40" name="review" placeholder="口コミを記入（任意）" ><br>
      <input type="submit" class="formSubmit" value="Submit">
    </form>

    </div>
