<link rel="stylesheet" href="/css/form.css">

<div class="top-page-wrapper">
<div class="button-container">
<p class="post-complete">会場を選択</p>

<form action='/find/list' method="post">
<select name="camp_place" class="camp-place-selector">
  <option value="選択されていません">選択してください。</option>
  <option value="関東エリア">ーー関東エリアーー</option>
  <option value="東京大学浅野キャンパス">東京大学浅野キャンパス</option>
  <option value="慶應義塾大学SFC">慶應義塾大学SFC</option>
  <option value="早稲田大学">早稲田大学</option>
  <option value="学習院大学">学習院大学</option>
  <option value="横浜国立大学">横浜国立大学</option>
  <option value="成蹊大学">成蹊大学</option>
  <option value="デジタルハリウッド大学">デジタルハリウッド大学</option>
  <option value="東京都市大学">東京都市大学</option>
  <option value="関西エリア">ーー関西エリアーー</option>
  <option value="関西大学">関西大学</option>
  <option value="立命館大学">立命館大学</option>
  <option value="中部エリア">ーー中部エリアーー</option>
  <option value="名城大学">名城大学</option>
  <option value="信州大学">信州大学</option>
  <option value="北海道・東北エリア">ーー北海道・東北エリアーー</option>
  <option value="北海道大学">北海道大学</option>
  <option value="東北大学">東北大学</option>
  <option value="九州エリア">ーー九州エリアーー</option>
  <option value="九州大学">九州大学</option>
</select>


<input type="submit" value="検索" class="btn">
</form>
<form action="/back" method="get">
<input type="submit" value="もどる" class="btn backbtn">
</form>
</div>
</div>