.formdesign {
  width:400px;
  height:20px;
  padding:5px;
  margin:10px;
  border: 0.5px solid rgb(255,255,255,0.8);
  border-radius:1px;
  background-color: rgba(255, 215, 128, 0.315);
  color:#fff;
}

input::placeholder{
  color:#fff;
}

.formSubmit{
  border: 1px solid #fff;
  background-color:rgb(255,255,255,0.5);
  padding: 10px 80px;
  color:#fff;

}

/* .camp-place-selector {
  width:60%;
  padding:10px 40px;
  margin-top:20px;
} */

select{
    border-color:#fff;
    outline:none;
    text-indent:0;
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color:#fff;
    width:300px;
    padding:10px;
    margin-top:20px;
    border-radius: 1px;
}
select option{
  background-color: #fff;
  color: #fff;
  text-align: center;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
}

.toTop{
  position:absolute;
  bottom:0;
  transform:translateX(-50%);
  padding:30px;
}